@if(profileResource.isLoading()){
  <div class="text-center size-max">Cargando el usuario...</div>
} @else {
  <div class="container">
    <div class="row mt-4" id="profile">
      <div class="col-3">
        <div>
          <img class="w-100" id="avatar" src="{{ imagen() }}" alt="" />
          @if(profileResource.value()?.me){
          <label class="btn btn-sm btn-warning imgEdit">
            <fa-icon [icon]="icon.faEdit"></fa-icon>
            <input
              type="file"
              id="photoInput"
              class="d-none"
              encodeBase64
              (encoded)="putImage($event)"
            />
          </label>
          }
        </div>
      </div>

      <div class="col-9" id="profileInfo">
        <h4 id="name">{{ profileResource.value()?.name }}</h4>
        <h4 id="email"><small class="text-muted">{{ profileResource.value()?.email }}</small></h4>  
        <div>
        @if(profileResource.value()?.me){
          <button
            class="btn btn-info edit"
            id="editProfile"
            (click)="changeVisibilityProfile()"> 
            <fa-icon [icon]="icon.faUser"></fa-icon>
          </button>
          <button
            class="btn btn-warning pwd"
            id="editPassword"
            (click)="changeVisibilityPassword()">
            <fa-icon [icon]="icon.faLock"></fa-icon>
          </button>
        }
        <a class="btn btn-outline-primary" [routerLink]="['/restaurants']" [queryParams]="{ creator: profileResource.value()?.id }">Ver restaurantes del usuario </a>
        </div>
      </div>
    </div>
    
    @if(editProfile()) {
      <div class="col-9" id="profileForm" (submit)="putProfile()">
        <form [formGroup]="profileForm">
          <div class="mb-3">
            <label for="emailInput">Nuevo Email: </label>
            <input
              type="email"
              class="form-control"
              formControlName="email"
              placeholder="Nuevo Email"
              [validationClasses]="{ valid: 'is-valid', invalid: 'is-invalid' }"
            />
            <div class="invalid-feedback">
              El email es obligatorio y debe tener un formato correcto
            </div>
            <label for="nameInput">Nuevo nombre: </label>
            <input
              type="text"
              class="form-control"
              formControlName="name"
              placeholder="Nuevo nombre"
              [validationClasses]="{ valid: 'is-valid', invalid: 'is-invalid' }"
            />
            <div class="invalid-feedback">
              El nombre es obligatorio
            </div>
          </div>
          <button type="submit" class="btn btn-primary" [disabled]="profileForm.invalid">Guardar cambios </button>
          <button type="button" class="btn btn-danger" id="cancelEditProfile" (click)="changeVisibilityProfile()">Cancelar </button>
        </form>
      </div>
    } @if(editPassword()) {
    <div class="col-9" id="passwordForm" (submit)="putPassword()">
      <form [formGroup]="passwordForm">
        <div class="mb-3">
          <label for="password">Nueva contraseña: </label>
          <input
            type="password"
            class="form-control"
            formControlName="password"
            placeholder="Nueva contraseña"
            [validationClasses]="{ valid: 'is-valid', invalid: 'is-invalid' }"
          />
          <div class="invalid-feedback">Es obligatorio la contraseña</div>
          <label for="passwordRep">Repita la nueva contraseña: </label>
          @let passwordRep = passwordForm.controls.passwordRep;
          <input
            type="password"
            class="form-control"
            formControlName="passwordRep"
            placeholder="Repita la nueva contraseña"
            [class]="{
              'is-valid': passwordRep.touched && passwordRep.valid,
              'is-invalid': passwordRep.touched && passwordRep.invalid,
            }"
          />
          <div class="invalid-feedback">Las contraseñas no coinciden </div>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="passwordForm.invalid">Guardar cambios </button>
        <button type="button" class="btn btn-danger" id="cancelEditPassword" (click)="changeVisibilityPassword()">Cancelar </button>
      </form>
    </div>
    }
  </div>
  <div class="card mt-4">
    <div class="card-header bg-primary text-white" id="address">Localización: </div>
    <ol-map [coordinates]="coordinates()">
      <ol-marker [coordinates]="coordinates()"></ol-marker>
    </ol-map>
  </div>
}